/* Sets properties to all elements on the page  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets properties for the body of the page  */
body {
    background-color: #d9dcd6;
}

/* Sets properties for the header tag  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets properties for the header h1 tag */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Modify color of letters s-e-o only at the header h1 */
header h1 .seo {
    color: #d9dcd6;
}

/* Sets properties for the header nav tag */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets properties for the a tag */
a {
    color: #ffffff;
    text-decoration: none;
    }

/* Provide space between the <a> tags */
.a {
    padding-right: 25px;
}

/* Sets properties for the p tag */
p {
    font-size: 16px;
}

/* Sets properties for the figure tag as well as url for the image */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets properties for the section space  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets properties for the entire section with this class  */
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets properties to img tag inside the section with this class  */
.content-section img {
    max-height: 200px;
}

/* Tags with this class will float to the left, allowing other contents to be in line */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Tags with this class will float to the right, allowing other contents to be in line */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets properties to h2 tag inside the section with this class  */
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets properties for the entire aside with this class, which includes the float right property  */
.benefits-a {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets properties to the entire aside with this class  */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets properties to h3 tag inside the aside with this class  */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets properties to img tag inside the aside with this class  */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets properties to the footer tag  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets properties for h4 tag inside footer tag  */
footer h4 {
    font-size: 20px;
}
